<nav class="navbar">
  <a class="navbar-brand" href="<%- config.root %>">
    <div class="author">
      <div class="avatar">
        <img src="<%- theme.author_info.avatar || '/img/logo_circle.png' %>" alt="User Avatar">
      </div>
      <div class="info">
        <div class="username"><%- config.author || config.title || "博主" %></div>
        <div class="exp-bar">
          <div class="exp-progress" style="width:<%- theme.author_info.exp_percentage || '96.48' %>%;"></div>
          <div class="exp-text"><%- theme.author_info.exp_current || '7395' %>/<%- theme.author_info.exp_total || '7665' %></div>
        </div>
      </div>
      <div class="level">
        <div class="level-number"><%- theme.author_info.level || '20' %></div>
        <div class="level-label">LEVEL</div>
      </div>
    </div>
  </a>
  <ul class="navbar-menu">
    <% for (var i in theme.menu){ %>
      <li class="nav-item">
        <% 
          var isActive = false;
          var menuUrl = theme.menu[i];
          var currentPath = page.path || '';
          
          // 判断当前页面是否匹配菜单项
          if (menuUrl === '/' && (page.layout === 'index' || currentPath === '' || currentPath === 'index.html')) {
            isActive = true;
          } else if (menuUrl !== '/' && currentPath.indexOf(menuUrl.replace('/', '')) === 0) {
            isActive = true;
          }
        %>
        <a class="nav-link <%= isActive ? 'active' : '' %>" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
      </li>
    <% } %>
  </ul>
</nav>
