<!DOCTYPE html>
<html lang="<%= config.language || 'zh-CN' %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <% 
  var title = page.title ? [page.title, config.title].join(' - ') : config.title;
  var description = page.description || page.excerpt || config.description;
  var keywords = page.keywords || page.tags && page.tags.map(tag => tag.name).join(',') || config.keywords;
  %>
  
  <title><%= title %></title>
  <meta name="description" content="<%= strip_html(description).substring(0, 200) %>">
  <meta name="keywords" content="<%= keywords %>">
  <meta name="author" content="<%= config.author %>">
  
  <!-- Favicon -->
  <link rel="icon" href="<%= theme.favicon || '/favicon.ico' %>">
  
  <!-- Icon Font -->
  <% if (theme.iconfont) { %>
    <% theme.iconfont.forEach(function(font) { %>
      <link rel="stylesheet" href="<%- font %>">
    <% }); %>
  <% } %>

  <!-- Custom CSS -->
  <!-- ZZZ Theme Styles -->
  <%- css('css/base.css') %>
  <%- css('css/navbar.css') %>
  <%- css('css/banner.css') %>
  <%- css('css/card.css') %>
  <%- css('css/content.css') %>
  <%- css('css/footer.css') %>
  <%- css('css/responsive.css') %>
  <%- css('css/animations.css') %>
  <%- css('css/pages.css') %>
  
  <% if (theme.custom_css) { %>
    <%- css(theme.custom_css) %>
  <% } %>
  
  <!-- Export Config -->
  <%- export_config() %>
  
  <!-- Core JS -->
  <script>
    var Travel = window.Travel || {};
    Travel.utils = {};
    Travel.plugins = {};
    Travel.events = {};
    Travel.boot = {};
  </script>
  <%- js('js/utils.js') %>
  <%- js('js/plugins.js') %>
  <%- js('js/events.js') %>
  <%- js('js/boot.js') %>
  
  <!-- 瀑布流布局脚本预加载 -->
  <link rel="preload" href="<%- url_for('js/masonry.js') %>" as="script">

</head>
